@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.UsuarioNome" class="form-control" placeholder="Please enter your full name." />
                <label asp-for="Input.UsuarioNome" class="form-label"></label>
                <span asp-validation-for="Input.UsuarioNome" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <select asp-for="Input.UsuarioSexo" class="form-control">
                    <option value="">Select gender</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Feminino">Feminino</option>
                </select>
                <label asp-for="Input.UsuarioSexo" class="form-label"></label>
                <span asp-validation-for="Input.UsuarioSexo" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.UsuarioTelefone" class="form-control" placeholder="Please enter your phone number." />
                <label asp-for="Input.UsuarioTelefone" class="form-label"></label>
                <span asp-validation-for="Input.UsuarioTelefone" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.DataNascimento" class="form-control" type="date" placeholder="Please enter your birth date." />
                <label asp-for="Input.DataNascimento" class="form-label"></label>
                <span asp-validation-for="Input.DataNascimento" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.UsuarioLogradouro" class="form-control" placeholder="Please enter your address." />
                <label asp-for="Input.UsuarioLogradouro" class="form-label"></label>
                <span asp-validation-for="Input.UsuarioLogradouro" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <select asp-for="Input.UsuarioTipo" class="form-control">
                    <option value="">Select user type</option>
                    <option value="Cuidador">Cuidador</option>
                    <option value="Responsável">Responsável</option>
                </select>
                <label asp-for="Input.UsuarioTipo" class="form-label"></label>
                <span asp-validation-for="Input.UsuarioTipo" class="text-danger"></span>
            </div>

            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
