@model CareWithLoveApp.Models.InputModels.DependenteInputModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dependente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DependenteNome" class="control-label"></label>
                <input asp-for="DependenteNome" class="form-control" />
                <span asp-validation-for="DependenteNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DependenteIdade" class="control-label"></label>
                <input asp-for="DependenteIdade" class="form-control" />
                <span asp-validation-for="DependenteIdade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DependenteEndereco" class="control-label"></label>
                <input asp-for="DependenteEndereco" class="form-control" />
                <span asp-validation-for="DependenteEndereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Insulina" class="control-label"></label>
                <input asp-for="Insulina" class="form-control" />
                <span asp-validation-for="Insulina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefoneEmergencia" class="control-label"></label>
                <input asp-for="TelefoneEmergencia" class="form-control" />
                <span asp-validation-for="TelefoneEmergencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cuidados" class="control-label"></label>
                <input asp-for="Cuidados" class="form-control" />
                <span asp-validation-for="Cuidados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
